#unique {
  color: yellow;
}

body p {
  color: blue;
}

.wrapper p {
  color: red;
}

p.special {
  color: green;
}

p#unique {
  color: pink;
}

p.special#unique {
  color: orange;
}

#unique {
  color: purple;
}